<div class="container">

    <div class="jumbotron">
        <h1>Order Burger for Pick Up</h1>
        <p>Burger Orders, Burger Pickup</p>
        <br>
        <h2>Select a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Burger</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside">Order Your Burger</div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span>{{this.id}} - {{this.burger_name}}</span>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="rightside">Devour Your Burger</div>
                    <div class="panel-body">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>